.heading
{
    font-size:23px ;
    width:100%;
    margin:0px;
    box-shadow: 7px 14px 46px blue;
}
.note
{
    font-size : 15px;
    color: orange;
}
.copy_right_footer
{
    position : fixed;
    bottom: 0;
    width:100%;
    background-color: yellow;
    color:white;
    text-align: center;
}
canvas
 { border:5px solid yellow;
     border-radius:20px;
      box-shadow:5px 5px 5px grey; 
    }
body
{
 background-size: cover ;   
}    